doctype html
html(lang="en")
    head
        include partials/header
    body.login
       .contenedor-formulario 
          h1 Iniciar Sesison en Uptask
          
             
            if locals.mensajes
             .alertas 
                each categoria in Object.keys(locals.mensajes)
                   each error in mensajes[categoria]
                      .alerta(class=`${categoria}`)
                         p=error
             



          form#formulario.caja.caja-login(method="POST" action ="Iniciar-Sesion")
            .campo 
               label(for="email") E-mail: 
               imput(type="email" name="email" placeholder="Tu Email" value = email )
            .campo 
               label(for="password") E-mail: 
               input(type="text" name="email" placeholder=" Tu Password" value=password)
            .campo 
               input.boton(type="submit" value="Iniciar Sesion")
            .campo.accionnes
               a(href="/crear-cuenta") Aun no tienes cuenta? Crea una gratis

               a(href="/reestablecer")  Olvidaste tu contraseña?
        
